.headder{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat ;
    background-size: contain;
    position: relative;
}
.headder-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width:50% ;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.headder-content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}

.headder-content p{
    color: white;
    font-size: 1vw
}
.headder-content button{
    border: none;
    color:#747474 ;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    cursor: pointer;
}
@media (max-width:1050px){
    .headder-content{
        min-width: 65%;
    }
}
@media (max-width:750px){
    
    .headder-content{
        min-width: 55%;
    }
    .headder-content p{
        display: none;

    }
    .headder-content button{
        padding: 2vw 4vw;
    }
}
